<div class="container">
  <div class="form-inputs">
    <h2 class="title-position">Inscription</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :prenom,
                  required: true,
                  autofocus: true,
                  label: "Prénom",
                  input_html: { autocomplete: "Prénom"} %>
      <%= f.input :nom,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Nom"} %>
      <%= f.input :password,
                  required: true,
                  label: "Mot de passe",
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "nouveau mot de passe" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: "Confirmation",
                  input_html: { autocomplete: "nouveau mot de passe" } %>

      <div class="form-actions">
        <%= f.button :submit, "S'incrire", class:"btn btn-primary my-3" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
