<div class="row">
  <div class="col-12 col-lg-7 bg-primary px-5 pb-3">
    <div class="container">
      <div class="m-4">
        <h1 class="text-white my-5">Contact</h1>
        <p class="text-white">Nos équipes sont à votre écoute ! Si vous souhaitez nous contacter, nous vous invitons à remplir le formulaire ci-dessous ou nous contacter par téléphone</p>
      </div>
      <div class="w-75 center">
        <div class="center icon-orga">
          <i class="fa-solid fa-phone fa-vc med-icon"></i>
          <p class="font-big m-0">06.59.91.84.56</p>
        </div>
        <div class="center icon-orga">
          <i class="fa-solid fa-envelope fa-vc med-icon"></i>
          <p class="font-big m-0">ekpafr@gmail.com</p>
        </div>
        <div class="center icon-orga">
          <i class="fa-solid fa-location-dot fa-vc med-icon"></i>
          <p class="font-big m-0">Bayonne, Nouvelle-Aquitaine</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 p-0">
    <div class="column-image">
    </div>
  </div>
  <div class="col-12" style="height:80vh;">
    <h1>Contact Form</h1>
    <%= form_for @contact do |f| %>
      <div class="col-md-6">
        <%= f.label :name %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :email %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :message %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
              placeholder: "Send me a message"%></br>

        <div class= "d-none">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <%= f.submit 'Send Message', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
