<div class="container">
  <div class="form-inputs">
    <h2 class="title-position">Connexion</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label: "Mot de passe",
                    input_html: { autocomplete: "mot de passe actuel" } %>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        <div class="form-actions">
          <%= f.button :submit, "connexion", class:"btn btn-primary mb-3" %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
