<div class="container">
  <div class="form-inputs">
    <h2 class="title-form">Modifier la formation <strong><%= @formation.title %></strong></h2>
    <%= simple_form_for @formation do |f| %>
      <%= f.input :title, label: "Titre" %>
      <%= f.input :description, label: "Description", input_html: { :rows => 10 } %>
      <%= f.input :duree, label: "Durée" %>
      <%= f.input :periode, label: "Période" %>
      <%= f.input :code_rncp, label: "Code RNCP" %>
      <%= f.input :lieu, label: "Lieu (par défault \"à distance\")" %>
      <%= f.submit "Mettre à jour", class: "btn btn-primary btn-margin-y" %>
    <% end %>
  </div>
</div>
