<div class="container">
  <h1 class="my-3">Toutes nos formations</h1>
  <div class="card-container">
    <% @formations.each do |formation|%>
      <%= link_to formation_path(formation), class: "card-link m-auto my-4" do %>
        <div class="card-formation">
          <% if formation.photo != false %>
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path formation.photo.key, height: 300, crop: :fill %>')">
            </div>
            <div class="d-flex card-info">
              <div class="title-card">
                <%= formation.title %>
              </div>
              <div class="element-card">
                <%= formation.duree %>
                <%= formation.periode %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
