<div class="container">
  <div class="form-inputs">
    <h1 class="title-form">Ajouter une nouvelle formation au catalogue</h1>
    <p class="italic">Attention, dans le cas d'une formation dispensée par un nouvel organisme non répertorié, vous ne pourrez pas créer cette formation. Veuillez dans ce cas créer l'organisme avant la formation.</p>
    <%= simple_form_for @formation do |f| %>
      <%= f.input :title, label: false, placeholder: "Titre", input_html: { class: "mt-4" }%>
      <%= f.input :description, as: :text, label: false, placeholder: "Description", input_html: { :rows => 10 }  %>
      <%= f.input :duree, label: false,placeholder: "Durée"%>
      <%= f.input :periode, error: "Champ obligatoire", placeholder: "Périodes", label: false %>
      <%= f.collection_select :organisme_id, Organisme.all, :id, :nom %>
      <%= f.input :code_rncp, label: false, placeholder: "Code RNCP de la formation" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Ajouter", class: "btn btn-primary mt-3 btn-margin-y" %>
    <% end %>
  </div>
</div>
