<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @formation.photo.key, crop: :fill %>')">
  <h1 class="banner-title"><%= @formation.title %> formation</h1>
</div>
<div class="row">
  <div class="bg-primary col-2">
    <div class="sticky-top" style="top:285px;">
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <p><%= @formation.lieu %></p>
      </div>
      <div>
        <i class="fa-solid fa-building"></i>
        <p><%= @formation.organisme.nom %></p>
      </div>
      <div>
        <i class="fa-solid fa-stopwatch"></i>
        <p><%= @formation.duree %> <%= @formation.periode %></p>
      </div>
      <div>
        <i class="fa-solid fa-euro-sign"></i>
        <p><%= @formation.code_rncp %></p>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="container">
      <div class="alert-green">
        <p><i class="fa-solid fa-circle-check"></i>Cette formation est certifiée CPF ! En savoir plus sur le votre <%= link_to "Compte Personnel de Formation", "#" %></p>
      </div>
      <p class="p-5"><%= @formation.description %></p>
    </div>
  </div>
</div>
