<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @formation.photo.key, crop: :fill %>')">
  <h1 class="banner-title"><%= @formation.title %></h1>
  <div>
    <p class="banner-info">par <%= @formation.organisme.nom %></p>
  </div>
</div>
  <% if browser.device.mobile? %>
    <div class="row">
      <div class="col-6">
        <i class="fa-solid fa-location-dot little-icon"></i>
        <p class="info-box"><%= @formation.lieu %></p>
      </div>
      <div class="col-6">
        <i class="fa-solid fa-building med-icon"></i>
        <p class="info-box"><%= @formation.organisme.nom %></p>
      </div>
      <div class="col-6">
        <i class="fa-solid fa-stopwatch med-icon"></i>
        <p class="info-box"><%= @formation.duree %> <%= @formation.periode %></p>
      </div>
      <div class="col-6">
        <i class="fa-solid fa-barcode med-icon"></i>
        <p class="info-box"><%= @formation.code_rncp %></p>
      </div>
    </div>
    <div class="col-12">
      <div class="container row-no-padding">
        <div class="alert-green">
          <i class="fa-solid fa-circle-check"></i>  Cette formation est certifiée CPF ! En savoir plus sur le votre <%= link_to "Compte Personnel de Formation", mon_cpf_path %>
        </div>
        <h3 class="position-content"><%= @formation.title %></h3>
        <p class="position-content"><%= @formation.description %></p>
        <%= render "shared/contact" %>
      </div>
    </div>
  <% else %>
    <div class="row m-0">
      <div class="sidebar col-1 full-height">
        <div class="sticky-top size-side">
          <i class="fa-solid fa-location-dot med-icon"></i>
          <p class="info-side"><%= @formation.lieu %></p>
          <i class="fa-solid fa-building med-icon"></i>
          <p class="info-side"><%= @formation.organisme.nom %></p>
          <i class="fa-solid fa-stopwatch med-icon"></i>
          <p class="info-side"><%= @formation.duree %> <%= @formation.periode %></p>
          <i class="fa-solid fa-barcode med-icon"></i>
          <p class="info-side"><%= @formation.code_rncp %></p>
        </div>
      </div>
      <div class="col-11">
        <div class="container row-no-padding">
          <div class="alert-green">
            <i class="fa-solid fa-circle-check"></i>  Cette formation est certifiée CPF ! En savoir plus sur le votre <%= link_to "Compte Personnel de Formation", mon_cpf_path %>
          </div>
          <h3 class="position-content"><%= @formation.title %></h3>
          <p class="position-content"><%= @formation.description %></p>
          <%= render "shared/contact" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
