<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @formation.photo.key, crop: :fill %>')">
  <h1 class="banner-title"><%= @formation.title %></h1>
  <div>
    <p class="banner-info">par <%= @formation.organisme.nom %></p>
  </div>
</div>
<div class="row m-0">
  <div class="sidebar col-1 full-height">
    <div class="sticky-top size-side">
      <i class="fa-solid fa-location-dot big-icon"></i>
      <p class="info-side"><%= @formation.lieu %></p>
      <i class="fa-solid fa-building big-icon"></i>
      <p class="info-side"><%= @formation.organisme.nom %></p>
      <i class="fa-solid fa-stopwatch big-icon"></i>
      <p class="info-side"><%= @formation.duree %> <%= @formation.periode %></p>
      <i class="fa-solid fa-euro-sign big-icon"></i>
      <p class="info-side"><%= @formation.code_rncp %></p>
    </div>
  </div>
  <div class="col-11">
    <div class="container row-no-padding">
      <div class="alert-green">
        <i class="fa-solid fa-circle-check"></i>  Cette formation est certifiée CPF ! En savoir plus sur le votre <%= link_to "Compte Personnel de Formation", "#" %>
      </div>
      <h3 class="position-content"><%= @formation.title %></h3>
      <p class="position-content"><%= @formation.description %></p>
    </div>
  </div>
</div>
